@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary: #f700ff;
  --secondary: #ab08f7;
  --dark: #212121;
  --light: #F3F3F3;
}

*,
*:before
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  margin: auto;
  width: 350px;
  height: 350px;
  perspective: 1000px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(-180deg);
}


.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__face--front h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-top: 80px;
}

.card__face--back {
  background-color: var(--light);
  transform: rotateY(-180deg);
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__header {
  position: relative;
  padding: 30px 30px 10px;
}

.card__header__front {
  position: relative;
  padding: 30px 30px 10px;
}

.card__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20px;
  background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
  z-index: -1;
  border-radius: 0px 0px 20% 0px;
}

.usa {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFF;
  margin-top: -9px;
  margin-left: -21px;
  position: absolute;
}

.br {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFF;
  margin-top: -24px;
  margin-left: -21px;
  position: relative;
}

.card__header h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-top: auto;
}

.card__body {
  padding: 10px;
  margin-top: -30px;
}

.card__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card__body p {
  color: var(--dark);
  font-size: 18px;
  line-height: 1.4;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #4C3F91, #9145B6, #B958A5, #FF5677);
  background-size: 400% 400%;
  font-family: 'Open sans', sans-serif;
  animation: colors 15s ease infinite;
}

.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: #fc466a00;
  position: fixed;
  height: 60px!important;
  overflow: hidden;
  z-index: 10;
}
.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}
.mainInner{
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
.mainInner div{
  display:table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}
#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  margin-top: 60px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: linear-gradient(180deg, #9b7f8500 0%, #3f5efb00 100%);
}
.sidebarMenuInner{
  margin:0;
  padding:0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}
.heart {     
  height: 15px;
  width: 15px;
  background: #f20044;
  position: relative;
  transform: rotate(-45deg);
  box-shadow: -10px 10px 90px #f20044;
  animation: heart 0.6s linear infinite;
  left: 75%;
  top: 90%;
  cursor: pointer;
  position:absolute
}
.heart:before{
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  background: #f20044;
  top: -50%;
  border-radius: 50px;
  box-shadow: -10px -10px 90px #f20044;

}
.heart:after{
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  background: #f20044;
  right: -50%;
  border-radius: 50px;
  box-shadow: 10px 10px 90px #f20044;
}

@keyframes heart{
  0%{
    transform: rotate(-45deg) scale(1.07);
  }
  80%{
    transform: rotate(-45deg) scale(1.03);
  }
  100%{
    transform: rotate(-45deg) scale(1.0);
  }
}

.right_{
  height: 17px;
  width: 7px;
  background: #15ff00;
  position: relative;
  transform: rotate(-45deg);
  box-shadow: -10px 10px 90px #15ff00;
  animation: right_ 0.6s linear infinite;
  left: 88%;
  top: 90%;
  cursor: pointer;
  position: absolute;
}
.right_:before{
  content: '';
    position: absolute;
    height: 22px;
    width: 7px;
    background: #15ff00;
    bottom: -45%;
    right: -200%;
    transform: rotate(270deg);
    box-shadow: -10px 10px 90px #15ff00;
}

@keyframes right_{
  0%{
    transform: rotateZ(-45deg) ;
  }

  50%{
    transform: rotateZ(-47deg) ;
  }

  100%{
    transform: rotateZ(-45deg) ;
  }
}